In [45]:
import pandas as pd

In [46]:
df = pd.read_csv('salaries_dataset.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,SE,FT,AI Engineer,202730,USD,202730,US,0,US,M
1,2024,SE,FT,AI Engineer,92118,USD,92118,US,0,US,M
2,2024,SE,FT,Data Engineer,130500,USD,130500,US,0,US,M
3,2024,SE,FT,Data Engineer,96000,USD,96000,US,0,US,M
4,2024,SE,FT,Machine Learning Engineer,190000,USD,190000,US,0,US,M

In [47]:
df.drop(columns=['employment_type', 'salary', 'salary_currency', 'employee_residence', 'remote_ratio', 'company_location'], inplace=True)

In [48]:
df.describe()

          work_year  salary_in_usd
count  16534.000000   16534.000000
mean    2023.226866  149686.777973
std        0.713558   68505.293156
min     2020.000000   15000.000000
25%     2023.000000  101125.000000
50%     2023.000000  141300.000000
75%     2024.000000  185900.000000
max     2024.000000  800000.000000

In [49]:
df.head()

,work_year,experience_level,job_title,salary_in_usd,company_size
0,2024,SE,AI Engineer,202730,M
1,2024,SE,AI Engineer,92118,M
2,2024,SE,Data Engineer,130500,M
3,2024,SE,Data Engineer,96000,M
4,2024,SE,Machine Learning Engineer,190000,M

In [50]:
df['salary_greater_than_200k'] = df['salary_in_usd'].apply(lambda x : 1 if x >= 200000 else 0)

In [51]:
df.head()

,work_year,experience_level,job_title,salary_in_usd,company_size,salary_greater_than_200k
0,2024,SE,AI Engineer,202730,M,1
1,2024,SE,AI Engineer,92118,M,0
2,2024,SE,Data Engineer,130500,M,0
3,2024,SE,Data Engineer,96000,M,0
4,2024,SE,Machine Learning Engineer,190000,M,0

In [62]:
inputs = df[['work_year','experience_level', 'job_title', 'company_size']]
target = df['salary_greater_than_200k']

In [63]:
inputs.head()

   work_year  experience_level  job_title  company_size
0       2024                 3          2             1
1       2024                 3          2             1
2       2024                 3         57             1
3       2024                 3         57             1
4       2024                 3        120             1

In [64]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [66]:
lb_company = LabelEncoder()
lb_job = LabelEncoder()
lb_ex = LabelEncoder()

inputs['experience_level']= lb_ex.fit_transform(inputs['experience_level']) 
inputs['job_title']= lb_job.fit_transform(inputs['job_title']) 
inputs['company_size']= lb_company.fit_transform(inputs['company_size']) 
inputs.head()

/var/folders/s8/4zp50x0n7y16nrb1gyrznp6m0000gn/T/ipykernel_30754/568214273.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['experience_level']= lb_ex.fit_transform(inputs['experience_level'])
/var/folders/s8/4zp50x0n7y16nrb1gyrznp6m0000gn/T/ipykernel_30754/568214273.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['job_title']= lb_job.fit_transform(inputs['job_title'])
/var/folders/s8/4zp50x0n7y16nrb1gyrznp6m0000gn/T/ipykernel_30754/568214273.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['company_size']= lb_company.fit_transform(inputs['company_size'])

   work_year  experience_level  job_title  company_size
0       2024                 3          2             1
1       2024                 3          2             1
2       2024                 3         57             1
3       2024                 3         57             1
4       2024                 3        120             1

In [67]:
inputs.head()

   work_year  experience_level  job_title  company_size
0       2024                 3          2             1
1       2024                 3          2             1
2       2024                 3         57             1
3       2024                 3         57             1
4       2024                 3        120             1

In [68]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [69]:
inputs.describe()

          work_year  experience_level     job_title  company_size
count  16534.000000      16534.000000  16534.000000  16534.000000
mean    2023.226866          2.454760     73.621870      0.948470
std        0.713558          0.888499     35.333446      0.267619
min     2020.000000          0.000000      0.000000      0.000000
25%     2023.000000          2.000000     46.000000      1.000000
50%     2023.000000          3.000000     57.000000      1.000000
75%     2024.000000          3.000000     90.000000      1.000000
max     2024.000000          3.000000    154.000000      2.000000

In [70]:
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [71]:
model.score(x_test, y_test)

0.7807680677351073

This will predict whether that perosn will make more than 200k or not
After giving these parameters 
work_year	experience_level	job_title	company_size

In [79]:
model.predict([[2020, 2, 2, 2]])

/Users/user/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [78]:
model.predict([[2024, 0, 0, 2]])

/Users/user/Library/Python/3.9/lib/python/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])